/lab7/MySQLApplication/nbproject/private/
/lab7/MySQLApplication/build/
/lab7/Weather/nbproject/private/
/lab7/Weather/build/
/lab7/WeatherJSP/nbproject/private/
/lab7/WeatherJSP/build/
/lab8/WeatherJSPServlet/nbproject/private/
/lab8/WeatherJSPServlet/build/
